@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
